.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4em;
    z-index: 9;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    background-color: black;
}