.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4em;
    z-index: 9;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-top:1px solid #b3b3b3;
    background-color: white;
}