.chat-form-container, #chatting-with-container {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 99;
}

.chat-form-container{
    bottom: 5em;
}

#chatting-with-container{
    top: 5em;
}

.chat-form, #chatting-with{
    overflow: auto;
    width:100%;
    max-width: 540px!important;
    margin: 0 auto;
}

.chat-form{
    background-color: white;
}

#chatting-with{
    text-align: center;
    background-color: #d8d8d8;
}

.chat-form.form-group {
    padding-bottom: 0;
}

.messages-container{
    padding-bottom: 13em;
}


