#choose-date-range-container {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 99;
    top: 5em;
}

#choose-date-range{
    max-width:540px;
    margin: 0 auto;
    min-height: 2.5em;
    background-color: white;
}

#stats-container{
    margin-top:2.5em;
}