.closeBtn {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

#addUnitModal, #foodModal, #addFriendModal {
    margin:0 auto;
    z-index: 9999;
    width: 90%;
    max-width: 540px!important;
    margin-top: 8em;
}

#foodModal .modal-header{
    padding-top: 1em!important;
    padding-left: 0!important;
}

#foodModal .modal-body{
    padding-top: 0!important;
}

#foodInfoTable tr{
    border-bottom: 1px solid lightgrey;
}

.addFriendBtn {
    height: 85px;
    width: 85px;
    color: grey;
    border: 4px solid grey;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.addFriendBtn i {
    font-size: 20px;
    line-height: 75px;
}

.addFriendBtnContainer{
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}