.closeBtn {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

#addUnitModal, #recipeIngredientsModal {
    margin:0 auto;
    z-index: 9999;
    width: 100%;
    max-width: 540px!important;
}

#addUnitModal{
    margin-top: 10em;
}

#recipeIngredientsModal{
    margin-top: 6em;
    height: 50em;
}

#recipeIngredientsModal .modal-header{
    padding-top: 1em!important;
    padding-left: 0!important;
}

#recipeIngredientsModal .modal-body{
    padding-top: 0!important;
}
