.c-white {
    color:white;
}

.c-black {
    color: black;
}

.c-grey {
    color: grey;
}

.c-grey-light {
    color:#d8d8d8;
}

.c-green {
    color: green;
}

.c-orange {
    color: orange;
}

.c-green-light {
    color: #59b75c;
}

.c-green-dark {
    color: #009688;
}

.c-red-important-info {
    color: #a94442;
}

.bg-c-white {
    background-color:white;
}

.bg-c-white-dark {
    background-color:#fafafa;
}

.bg-c-grey-light {
    background-color:#d8d8d8;
}

