body, html{
    background-color: #d8d8d8;
    font-size: 97%!important
}

@media(min-width: 261px) and (max-width: 271px) {
    body, html {
        font-size: 64%!important;
    }
}

@media(min-width: 271px) and (max-width: 281px) {
    body, html {
        font-size: 65%!important;
    }
}

@media(min-width: 281px) and (max-width: 291px) {
    body, html {
        font-size: 66%!important;
    }
}

@media(min-width: 291px) and (max-width: 301px) {
    body, html {
        font-size: 67%!important;
    }
}

@media(min-width: 301px) and (max-width: 311px) {
    body, html {
        font-size: 68%!important;
    }
}

@media(min-width: 311px) and (max-width: 321px) {
    body, html {
        font-size: 69%!important;
    }
}

@media(min-width: 321px) and (max-width: 331px) {
    body, html {
        font-size: 70%!important;
    }
}

@media(min-width: 331px) and (max-width: 341px) {
    body, html {
        font-size: 71%!important;
    }
}

@media(min-width: 341px) and (max-width: 351px) {
    body, html {
        font-size: 72%!important;
    }
}

@media(min-width: 351px) and (max-width: 361px) {
    body, html {
        font-size: 73%!important;
    }
}

@media(min-width: 361px) and (max-width: 371px) {
    body, html {
        font-size: 74%!important;
    }
}

@media(min-width: 371px) and (max-width: 381px) {
    body, html {
        font-size: 75%!important;
    }
}

@media(min-width: 381px) and (max-width: 391px) {
    body, html {
        font-size: 76%!important;
    }
}

@media(min-width: 391px) and (max-width: 401px) {
    body, html {
        font-size: 77%!important;
    }
}


@media(min-width: 401px) and (max-width: 411px) {
    body, html {
        font-size: 78%!important;
    }
}

@media(min-width: 411px) and (max-width: 421px) {
    body, html {
        font-size: 79%!important;
    }
}

@media(min-width: 421px) and (max-width: 431px) {
    body, html {
        font-size: 80%!important;
    }
}

@media(min-width: 431px) and (max-width: 441px) {
    body, html {
        font-size: 81%!important;
    }
}

@media(min-width: 441px) and (max-width: 451px) {
    body, html {
        font-size: 82%!important;
    }
}

@media(min-width: 451px) and (max-width: 461px) {
    body, html {
        font-size: 83%!important;
    }
}

@media(min-width: 461px) and (max-width: 471px) {
    body, html {
        font-size: 84%!important;
    }
}

@media(min-width: 471px) and (max-width: 481px) {
    body, html {
        font-size: 85%!important;
    }
}

@media(min-width: 481px) and (max-width: 491px) {
    body, html {
        font-size: 86%!important;
    }
}

@media(min-width: 491px) and (max-width: 501px) {
    body, html {
        font-size: 87%!important;
    }
}

@media(min-width: 501px) and (max-width: 511px) {
    body, html {
        font-size: 88%!important;
    }
}

@media(min-width: 511px) and (max-width: 521px) {
    body, html {
        font-size: 89%!important;
    }
}

@media(min-width: 521px) and (max-width: 531px) {
    body, html {
        font-size: 90%!important;
    }
}

@media(min-width: 531px)  {
    body, html {
        font-size: 85%!important;
    }
}

/*@media (min-width: 541px) and (max-width: 551px){*/
    /*body, html{*/
        /*font-size: 92%!important;*/
    /*}*/
/*}*/


/*@media(min-width: 551px) and (max-width: 561px) {*/
    /*body, html {*/
        /*font-size: 93%!important;*/
    /*}*/
/*}*/

/*@media(min-width: 561px) and (max-width: 571px) {*/
    /*body, html {*/
        /*font-size: 94%!important;*/
    /*}*/
/*}*/

/*@media(min-width: 571px) and (max-width: 581px) {*/
    /*body, html {*/
        /*font-size: 93%!important;*/
    /*}*/
/*}*/

/*!* large screen mobiles *!*/
/*@media (min-width: 581px){*/
    /*body, html {*/
        /*font-size: 93%!important;*/
    /*}*/
/*}*/

.divlevel1{
    width:20em!important;
    height:20em!important;
    background-color: red!important;
}

.divlevel2{
    width:10em!important;
    height:10em!important;
    background-color: blue!important;
}

.divlevel3{
    width:5em!important;
    height:5em!important;
    background-color: green!important;
}
/* CONTAINERS */
/* main container that will make our app fit as mobile size and centered on big screens */

.container-mob {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.main-layout{
    display: block;
    position: absolute;
    left: 0;
    top: 5em;
    bottom: 0;
    right: 0;
}

@media (min-width: 576px) {
    .container-mob {
        width: 540px!important;
        max-width: 100%;
    }
}

.line-in-middle {
    color: red;
    width:inherit;
    height:20em;
    background: linear-gradient(to right,
    transparent 0%,
    transparent calc(50% - 0.81px),
    black calc(50% - 0.8px),
    black calc(50% + 0.8px),
    transparent calc(50% + 0.81px),
    transparent 100%);
}