body{
    background-color: #d8d8d8;
}


/* small screen mobiles */
@media (max-width: 400px) {
    html {
        font-size: 70%;
    }
}

/* large screen mobiles */
@media (min-width: 401px) and (max-width: 767px){
    html {
        font-size: 80%;
    }
}

/* CONTAINERS */

/* main container that will make our app fit as mobile size and centered on big screens */

.container-mob {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.main-layout{
    display: block;
    position: absolute;
    left: 0;
    top: 4rem;
    bottom: 4rem;
    right: 0;
}

@media (min-width: 576px) {
    .container-mob {
        width: 540px;
        max-width: 100%;
    }
}