/*bootstrap overrides*/

.nav.nav-tabs {
    background-color: white !important;
}

.nav.nav-tabs > li  {
    padding-left: 0!important;
    padding-right: 0!important;
}

.nav.nav-tabs > li > a  {
    color: grey!important;
}

.nav.nav-tabs > li > .nav-link  {
    font-size: 1.7em;
    color: lightgrey!important;
    text-align: center!important;
}

.nav.nav-tabs > li > .nav-link.active  {
    color: black!important;
    border-bottom: 3px solid #009688!important;
}

.dropdown-menu, .btn {
    border-radius:0!important;
}

.btn-fab{
    border-radius: 50%!important;
}
