/*font size*/

.f-size-0_5{
    font-size: 0.5em!important;
}
.f-size-1{
    font-size: 1em!important;
}
.f-size-1_2{
    font-size: 1.2em!important;
}
.f-size-1_3{
    font-size: 1.3em!important;
}
.f-size-1_5{
    font-size: 1.5em!important;
}
.f-size-2{
    font-size: 2em!important;
}

.f-size-2_5{
    font-size: 2.5em!important;
}

.f-size-3{
    font-size: 3em!important;
}

.f-size-4{
    font-size: 4em!important;
}

/*height*/

.full-height {
    height: 100%;
}

.h-2 {
    height: 2em!important;
}

.h-3 {
    height: 3em!important;
}

/*width*/

.w-2 {
    width: 2em!important;
}

.full-width {
    width: 100%;
}

/*line-height*/

.lh-1 {
    line-height: 1em!important;
}

.lh-2 {
    line-height: 2em!important;
}

.lh-3 {
    line-height: 3em!important;
}

/* padding */

.px-0{
    padding-right: 0!important;
    padding-left: 0!important;
}

.pt-0{
    padding-top: 0!important;
}

.pr-0{
    padding-right: 0!important;
}

.pb-0{
    padding-bottom: 0!important;
}

.pl-0{
    padding-left: 0!important;
}

.pl-0_5{
    padding-left: 0.5em!important;
}

.pl-1{
    padding-left: 1em!important;
}

/*margin*/
.mx-0{
    margin-right: 0!important;
    margin-left: 0!important;
}

.my-0{
    margin-top: 0!important;
    margin-bottom: 0!important;
}

.my-1{
    margin-top: 1em!important;
    margin-bottom: 1em!important;
}

.mt-0{
    margin-top: 0!important;
}

.mt-1{
    margin-top: 1em!important;
}

.mt-2{
    margin-top: 2em!important;
}

.mr-0{
    margin-right: 0!important;
}

.mb-0{
    margin-bottom: 0!important;
}

.ml-0{
    margin-left: 0!important;
}


/* extend bootstrap with 5 columns */

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}


