.f-size-0_5{
    font-size: 0.5em!important;
}
.f-size-1{
    font-size: 1em!important;
}
.f-size-2{
    font-size: 2em!important;
}

.f-size-3{
    font-size: 3em!important;
}

.f-size-4{
    font-size: 4em!important;
}

.w-8 {
    width: 8em!important;
}