/*font size*/

.f-size-0_5{
    font-size: 0.5em!important;
}
.f-size-1{
    font-size: 1em!important;
}
.f-size-2{
    font-size: 2em!important;
}

.f-size-2_5{
    font-size: 2.5em!important;
}

.f-size-3{
    font-size: 3em!important;
}

.f-size-4{
    font-size: 4em!important;
}

/*height*/

.full-height {
    height: 100%;
}

.h-2 {
    height: 2em!important;
}

/*width*/

.w-2 {
    width: 2em!important;
}

.full-width {
    width: 100%;
}


/* padding */

.px-0{
    padding-right: 0!important;
    padding-left: 0!important;
}

/* extend bootstrap with 5 columns */

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}


